body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F3F6;
  margin: 0;
}

.nav {
  background-color: rgb(40, 116, 240);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 2.5rem; */
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  /* margin-left: 1rem; */
  /* border: solid black; */
  margin: 0.5rem;

}

ul img {
  height: 2.5rem;
  width: 2.5rem;
  /* border: solid black; */
}

li {
  /* border: solid black;  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#logo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#search {
  display: flex;
  height: 2rem;
  width: 600px;
  /* width: 100%; */
  margin-left: 1rem;
  padding: 10px;
  outline: none;
  border: none;
}

#search_btn {
  padding-top: 5.5Px;
  padding-bottom: 5.5px;
  height: 2rem;
  border: none;
  background-color: #FFFFFF;
  outline: none;
  color: rgb(40, 116, 240);

}

#login_btn {
  width: 8rem;
  height: 2rem;
  color: rgb(40, 116, 240);
  border: none;
  cursor: pointer;
  margin-left: 8rem;
  font-size: medium;
  font-weight: bolder;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#more_btn {
  margin-left: 3rem;
  width: auto;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: medium;
  cursor: pointer;
  font-weight: bolder;
  /* border: solid green; */

}

#cart {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: medium;
  cursor: pointer;
  font-weight: bolder;
  /* border: solid RED; */

}

#cart_logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  /* border: solid brown; */
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px #D1D3D5;
  flex-wrap: wrap;
  width: 100%;
}

.category a:hover {
  color: blue;
}

.category img {
  height: 5rem;
  width: 5rem;
}

.category img:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.top_offers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.dod {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 5px #D1D3D5;
  flex-grow: 1;
}

.dod-slide {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  align-items: center;
  box-shadow: 1px 1px 5px #D1D3D5;
}

#slide {
  display: flex;
  box-shadow: 1px 1px 5px #D1D3D5;
  font-size: 48px;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  width: 2rem;
  padding: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.dod-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: rgba(0, 0, 0, 0.158) solid
}

.dod-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: red solid; */
}

#dod {
  flex-direction: row;
  font-size: larger;
  /* font-weight: bold; */
  border: dark solid;
  margin-left: 1rem;

}

#time {
  margin-left: 1rem;
  flex-direction: row;
  flex-grow: 1;
  font-size: larger;
  /* font-weight: bold; */
}

#view_all {
  flex-direction: row;
  color: white;
  background-color: rgb(40, 116, 240);
  width: 100px;
  height: 2.5rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.dod-content img {
  width: 10rem;
  height: 10rem;
  /* cursor: pointer; */
}

.dod-content img:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.watch {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.temple {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.case {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.Metronaut {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.LAVA {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
  /* flex-grow: 1; */
}

.B_M {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem 4rem;
  box-shadow: 1px 1px 5px #D1D3D5;
  /* border:rgba(0, 0, 0, 0.158) solid; */
  /* margin-top: 1rem; */
  /* border: red solid; */
}

.B_M-header {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-bottom: rgba(0, 0, 0, 0.158) solid;
  margin-left: 1rem;
}

.subheader {
  flex-grow: 1;
}

.B_M-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.B_M-content img {
  width: 10rem;
  height: 10rem;
  /* cursor: pointer; */
}

.B_M-content img:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.Harmoniums {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* border: none; */
  /* border: rgb(234, 0, 255) solid; */
}

.Flutes {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* border: none; */
}

.Musical {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.Microphone {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;
}

.Acotics {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: none;

}


/* modifcation */
.ads {
  background-color: var(--cardBackgroundColor);
  box-shadow: 1px 1px 2px 1px var(--shadowColor);
  display: flex;
  flex-direction: row;
  width: auto;
  /* align-items: center;
  justify-content: center;  */

}

.ads img {
  width: 15rem;
  max-height: 27rem;
  padding: 0.5rem;
}

.ads img:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.dod-ad {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  margin: 1rem 4rem;
}