body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F3F6;
  margin: 0;
}

.nav {
  background-color: whitesmoke;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  width: 100%;
}
.logo {
  flex-grow: 1;
}
li button {
  background-color: whitesmoke;
  border: none;
  outline: none;
}

li a {
  color: black;
  padding: 1rem;
}

li a:link {
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: rgb(4, 170, 109);
  color: white;
}

.photo {
  height: 30rem;
  flex-wrap: wrap;
  /* border: solid red; */
  position: relative;
  width: 100%;
}

.photo img {
  height: 30rem;
  width: 100%;
}
.transbox{
  position: absolute;
  bottom: 2rem;
  /* width: 100%; */
  padding-left: 7rem;
}
.mid {
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #F1F3F6;
  /* border: solid black; */
}

.bottom {
  height: auto;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(4, 170, 109);
  /* border: solid tomato; */
}

.service_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F1F3F6;
  margin-top: 2rem;

}

.one {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}

.two {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}
.three {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}
.process_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.p_img{
  width: 100%;
  height: 10rem;
 
}
.temp{
  position: relative;
}
.temp1{
  position: relative;
}
.temp2{
  position: relative;
}
.p_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
}
.p_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
}
.p_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
}
.transbox1{
  position: absolute;
  bottom: 0px;
  opacity: 0.6 ;
  background-color: rgb(245,245,245);
  width: 100%;
}
